
.submit {
    position: relative;
    top:-30px;
    left:600px;
    display: block;
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
    background-color: #f60;
}



.type{
    width: 90px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #59b200;
    position: relative;
    top: -370px;
    left: 0;
}

 .tour .buy {
    position: absolute;
    top: 55px;
    right: 30px;
}
 .price {
    color: #f60;
    font-size: 20px;
    position: relative;
    top:240px;
}
 .price strong {
    font-size: 36px;
}
 .price s {
    font-size: 16px;
    position: relative;
    top:10px;
    color: #999;
}
 .tour .reserve {
    margin: 10px 0 0 0;
}
 .tour .reserve a {
    display: block;
    width: 152px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
    background-color: darkgray;
    position: relative;
    top:235px;
}



.tour{
    background: #EEEEEE;
    height: 230px;
}
.list_about_right_h2 {

    font-size: 30px;
    color: #666666;
    font-weight: normal;
    border-bottom: 1px dashed grey;
    padding-bottom: 20px;

}

 .tour h2 {
     position: relative;
     top:-235px;
     left:380px;
    font-size: 28px;
    color: #666666;
    font-weight: normal;
     border-bottom: 1px dashed grey;
     padding: 10px 0 20px 40px;

}
 .tour h3 {
     position: relative;
     top:-230px;
     left:380px;
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    font-weight: normal;
    padding: 10px 0 10px 25px;
}

.aboutmain_mark{
    padding-top: 70px;

    -ms-padding-top: 100px;
}
.aboutmain_mark mark{
    background-color: #fff;
    border: 1px solid #458b00;
    border-radius: 4px;
    padding: 0 5px;
    color: #458b00;
}

.aboutmain_mark li{
    font-size: 21px;
    color: #666;
}

.list_about_maindown{
    margin-top: 88px;
}


.list_myself_main{
    height: 500px;

}
.myself_main_nav{
    background-color: #f4f4f4;
    padding: 10px 0 20px 0;
}
.myself_main_nav img{
    border-radius: 100px;
    border:6px solid #EEEEEE;
    margin: 15px 0 0 15px;
}

.myself_main_right{
    position: relative;
    top:-150px;
    left: 200px;
    font-size: 18px;
}
.myself_main_right mark{
    background-color: #f4f4f4;
    border: 1px solid grey;
    font-size: 18px;
    border-radius: 5px;
}

.myself_main_right meter{

    display: inline-block;
    height: 10px;
    width: 80px;
    margin-bottom: 3px;
}

.myself_main_right  #spa{
    color: #77aa33;
    font-size: 20px;
}

.myself_main_content{
    width: 745px;
    position: absolute;
    top: 310px;
    background-color: #f4f4f4;
}

.myself_main_content p{
    font-size: 20px;
    font-weight: 600;
    color: #666666;

}

.myself_main_content ul{
    display: inline-block;
    margin-top: 10px;
}

.myself_main_content li{
    list-style: none;
    padding: 10px 0 10px 20px;
    font-size: 17px;
    text-align: center;
}

.myself_main_content ul:nth-child(3){
    margin-left: 60px;
}

.myself_main_content ul:nth-child(4) li{
    font-size: 12px;
    color: #666666;
    line-height:23px;
}
.myself_main_content ul:nth-child(5) li{
    font-size: 15px;
    color: #666666;
    line-height:23px;
    margin-left: 30px;

}

.myself_main_content ul:nth-child(5) a{

    color: #77aa33;
}

.myself_main_footer{
    width: 745px;
    position: absolute;
    top: 590px;
    background-color: #f4f4f4;
}

.myself_main_footer p{
    font-size: 20px;
    font-weight: 600;
    color: #666666;

}

.myself_main_footer ul{
    display: inline-block;
    margin-top: 10px;
}

.myself_main_footer li{
    list-style: none;
    padding: 10px 0 10px 20px;
    font-size: 17px;
    text-align: center;
}

.myself_main_footer ul:nth-child(3){
    margin-left: 110px;
}

.myself_main_footer ul:nth-child(4){
    margin-left: 110px;
}
.myself_main_footer ul:nth-child(5){
    margin-left: 110px;
}
.myself_main_footer li:first-child{
    font-size: 20px;
    color: #666666;
}



